<!DOCTYPE html>
<html>
<head>
</head>
<body>
      <div style="background-color: rgb(21, 143, 141);
      height:30px;
      margin:0;
      "></div>
       <div style="background-color: rgb(189, 229, 217);
       height:80px;border-radius:8px;
       margin-top:3px;
       "></div>
  <div style="background-color: rgb(189, 229, 217);
  border-radius:8px;
  margin-top:10px;
  padding:10px;
  ">
  <h3>Register Here</h3>
<form method="POST">
{%csrf_token%}
{{form.as_p}}
Email : <input type="email" name="email"><br>
      <input type="submit" value="Signup">
</form>
</div>
</body>
</html>