{% extends 'base.html' %}

{% block title %}Contact us {% endblock %}

{% block cor %}
     <div style="margin-top:26px;">
     <p style="line-height:20px;"><b>Emily Johnson</b><br>
      emilyjohnson@email.com<br>
      555-123-4567<br>
      123 Main St, Anytown, USA 12345</p>
      </div>
      <div style="margin-top:40px;">
      <p style="line-height:20px;"><b>David Lee</b><br>
      davidlee@email.com<br>
      555-901-2345<br>
      456 Elm St, Othertown, USA 67890</p>
      </div>
      <div style="margin-top:40px;" >
      <p style="line-height:20px;"><b>Sarah Taylor</b><br>
      sarah_taylor@email.com<br>
      555-111-2222<br>
      789 Oak St, Smalltown, USA 34567</p>
      </div><br><br>
      
      
{% endblock %}
</html>