{% extends 'base.html' %}
{% block title %}
Events
{% endblock %}
{% block extra_css %}
.div1{
  background-color:rgb(47, 143, 141);
  border-radius:20px;
  padding:10px;
  margin-bottom:3px;
}
.div2{
  background-color:rgb(189, 229, 217);
  border-radius:20px;
  padding:10px;
  margin-bottom:3px;
}
{% endblock %}
{% block cor %}

<div class="div1">
<p>
<b>Agri Asia 2025:</b>
 This 14th International Exhibition on Agriculture Technologies 
 will take place from September 18-20, 2025, at the Helipad Exhibition
 Centre in Gandhinagar, Gujarat, India. It will showcase advancements 
 in agricultural technology, including precision farming tools and smart 
 irrigation systems.<br>
</p>
</div>
<div class="div2">
<p>
<b>IFA Annual Conference 2025:</b>
 Scheduled for May 12-14, 2025, this conference focuses on "Investing in 
 the future of food" and will discuss sustainable practices and technological
  advancements in the fertilizer industry.
</p>
</div>
<div class="div1">
<p>
<b>Cultivating Tomorrow:</b> 
 This conference, happening April 1-3, 2025, in Barcelona, Spain, explores the 
 intersection of innovation and sustainability in the fertilizer industry.
</p>
</div>
<div class="div2">
<p>
<b>Sulphur World Symposium 2025:</b>
 From April 8-10, 2025, industry leaders will gather in Florence, Italy,  to
 discuss trends, innovations, and challenges in the sulfur and sulfuric
 acid industry.
</p>
</div>
<div class="div1">
<p>
<b>The Fertilizer Show:</b>
 This global event, taking place April 8-10, 2025, in Florida, will unite
  fertilizer manufacturers with suppliers of equipment, raw materials, 
  and innovative technologies.
</p>
</div>
<div class="div2">
<p>
<b>India Agri Expo:</b>
This international exhibition on agriculture and dairy technologies will occur 
from January 30 to February 1, 2026, in Ludhiana, India, featuring advancements 
in farm mechanization, diversification, and sustainability.</p></div>
{% endblock %}
